// Responsive control
$breakpoint-phone: 640px;
$breakpoint-tablet: 998px;
$breakpoint-desktop: 1024px;

//Colors
$second-color: #5b4ca6;
$primary-color: #695bb6;
$primary-color-opacioty: #8c84c5;
$primary-bold: #483c85;
$primary-color-background: #6153ae14;
$third-color: #ffffff;
$color-white: #ffffff;
$color-border: gainsboro;
$fourth-color: #778ba0;

//Style font
$text-font-family: "Poppins", sans-serif;