@import '../../../css/variable.scss';

.table-responsivo {
    width: 100%;
    overflow-x: auto;
}

table  {
    width: 100%;
}

table tr th {
    font-family: $text-font-family;
    border: 1px solid $color-border;
    border-collapse: collapse;
    padding: 15px;
    font-size: 14px;
}
.title-table {
    color: $color-white;
    background-image: linear-gradient($primary-color,$second-color);
    font-size: 27px;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: $third-color;
}
table tr:hover {
    background-color: $fourth-color;
    cursor: pointer;
    color: $color-white;
}

.filter {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-family: $text-font-family;
}
.filter > div {
    padding: 18px;
    font-size: 17px;
}

.error {
    font-family: $text-font-family;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: $error-background;
    color: $error-text;
}